.btm {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  /* background: rgba(149, 179, 212, 0.75); */
}

/* .twentyPctPosition {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  border: solid 1px;
  text-align: center;
} */
